@charset "utf-8";

header {
  /* border-top: 1px solid lightgrey; */
  /* border-bottom: 1px solid lightgrey; */
  text-align: center;
  background-image: url(futsal-in-toda-footer.webp);
  padding: 32px 0;
  margin: 0 0 16px 0  ;
}

h1, h3 {
  margin:0;
}

h6 {
  background: black;
  color:white;
  padding:8px 8px 8px 4px;
  margin-bottom: 8px;
}

.game1, .game2, .game3, .game4, .game5, .game6 {
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid black;
}

p {
  background: lightgrey;
  text-align: center;
  /* border-bottom: 1px solid black; */
  padding: 16px;
  margin:0;
  /* border-radius: 8px; */
  font-weight: bold;
}

span{
  background:black;
  color:white;
  padding: 8px;
  margin:0 8px 0 8px; 
}

section {
  margin-bottom: 8px;
}

.container {
  display: flex;
  font-weight: bold;
}

.box-1 {
  width:33%;
  background: skyblue;
  /* margin:0; */
  text-align: center;
  padding:4px;
  margin-bottom:8px;
}

.box-2 {
  width:33%;
  background:tomato;
  /* margin: 0; */
  text-align: center;
  padding:4px;
  margin-bottom:8px;
}

.box-3 {
  width: 33%;
  background:yellowgreen;
  /* margin:0; */
  text-align: center;
  padding:4px;
  margin-bottom: 8px;
}



h5 {
  margin:0;
}
footer {
  text-align: center;
}